code.info:before {
  content: "\f05a";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 12pt;
  margin-left: -30px;
  display: block;
  position: absolute;
  color: #718c00
}

code.info {
  font-style: italic;
}


code.error:before {
  content: "\f071";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 12pt;
  margin-left: -30px;
  display: block;
  position: absolute;
  color: #ff0000;
}

code.error {
  color: #ff0000;
}