code.info:before {
  content: "\f05a";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 12pt;
  margin-left: -30px;
  display: block;
  position: absolute;
  color: #718c00
}

code.info {
  font-style: italic;
}


code.error:before {
  content: "\f071";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 12pt;
  margin-left: -30px;
  display: block;
  position: absolute;
  color: #ff0000;
}

code.error {
  color: #ff0000;
}

code.warning:before {
  content: "\f06a";
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 12pt;
  margin-left: -30px;
  display: block;
  position: absolute;
  color: #ffcc00;
}

.equational {
  width: 80%;
  margin: auto;
}
.equational pre {
  margin: 0;
}
.equational div.term, .equational div.explanation {
  display: block;
}
.equational .explanation code {
  font-style: normal;
}
.equational .explanation {
  padding-left: 1.5em !important;
}
